[2019-02-20 09:47] 2Dman opened #1 "Add function Get-passwordstatePassword"
This would get all passwords of a certain list, you would need to add the "?QueryAll"

For example:

$PasswordstateUrl = "https://passwordstateqa/winapi/passwords/" + $_ + "?QueryAll"
$Passwords += Invoke-Restmethod -Method GET -Uri $PasswordstateUrl -UseDefaultCredentials

if you would like, i can make a pull request to look into this ?

[2019-02-20 09:51] 2Dman opened #2 "New-PasswordStatePassword.ps1"
In the New-PasswordstatePassword, should add parameters to be able to add customfields.

[2019-02-21 23:04] dnewsholme commented on #1
Sounds a good idea. If you would like to do this feel free.

I've used Get-PasswordStateResource to retrieve from the api for all other functions to keep it easier to maintain.

[2019-02-21 23:05] dnewsholme commented on #2
Yes, this is something that isn't yet implemented. I'll add this to feature requests and have a look into it.

[2019-02-27 13:16] dnewsholme commented on #2
Closed by #3

[2019-02-27 13:16] #2 closed

[2019-02-27 13:17] dnewsholme commented on #1
Closed in #3

[2019-02-27 13:17] #1 closed

[2019-04-30 07:22] colombeen opened #5 "Find-PasswordStatePassword: Can't search for username only"
When I try to search for the username, without using the title, I always get 0 results because you check if the title matches, even when there isn't one provided.

Line 94:
`$tempobj = $tempobj | Where-Object {$_.Title -eq $title -and $_.Username -eq $username}`

[2019-04-30 07:36] dnewsholme commented on #5
@colombeen you are quite correct. My original use case was for searching by title and limiting the results by using the username parameter however this probably isn't the right way to do it, the filtering should be done outside the cmdlet and most people's use case would be to search by username only. I'll put up fix in an hour or two for this.

Thanks for letting me know.

[2019-04-30 07:56] dnewsholme commented on #5
Resolved in merge #6. I've also published a new build to the powershell gallery with the fix.

https://www.powershellgallery.com/packages/passwordstate-management/0.0.88

[2019-04-30 07:56] #5 closed

[2019-04-30 07:57] colombeen commented on #5
Thanks I'll try this out

[2019-04-30 08:20] colombeen opened #7 "Find-PasswordStatePassword: Search for title isn't a real title search but a general search"
Search for title isn't a real title search but a general search

`$tempobj = Get-PasswordStateResource -uri "/api/searchpasswords/?search=$title&ExcludePassword=true"  -ErrorAction stop`

The documentation for the API shows that a title search uses **?title=$title** instead of **?search=$title**

the search is only used for general searches, not specific to titles only

- INFO FROM THE DOCUMENTATI

[2019-04-30 09:26] dnewsholme commented on #7
I agree this should be changed the results don't match what is expected of the search.

[2019-04-30 09:44] dnewsholme commented on #7
Search by title now correctly searches across title field only instead of all fields. A New parameter called searchterm has been created to replicate the old search and made the default first parameter to replicate the old use.

New module version up on the gallery.
https://www.powershellgallery.com/packages/passwordstate-management/0.0.89

Thanks again for submitting and putting together a thorou

[2019-04-30 09:44] #7 closed

[2019-05-02 08:38] colombeen opened #10 "Find-PasswordStatePassword: Returned object, change password to SecureString"
Just a suggestion, changing the returned object password property to a securestring instead of a regular string. Just a little bit more secure then just showing the password.

I was trying to implement it myself but I can't seem to get it working.

[2019-05-02 09:01] dnewsholme commented on #10
@colombeen Thanks for the suggestion.

I was thinking about doing this before, it's not too hard to implement but would be a breaking change in terms of existing functionality. Also because the API expects plaintext passwords for updating the resources and creating new ones ect the password would have to be converted back to plain text at certain points in the code.

So i'm not sure how to best ha

[2019-05-02 11:07] colombeen commented on #10
On the other hand, you could try a PSCredential instead of a SecureString, it's easier to "decode" with
$PSCredential.GetNetworkCredential().Password

[2019-05-02 21:26] dnewsholme commented on #10
I think i have a working solution for this, using custom classes.

The Password will be stored as a secure string by default but the class will have a method to expose the password as plain text.

[code]
So the result would look like below:

[code]
And the password revealed by: (Find-PasswordStatePassword -PasswordID 6592).Getpassword()

eg.
[code]
And i think i'll look at adding some sort of glob

[2019-05-02 23:02] colombeen commented on #10
Looks very interesting!

[2019-05-03 13:42] colombeen opened #11 "New-RandomPassword: Using the password generator policy for the specific password list"
Instead of the function containing a default of 12 chars, ... adding the ability to set a default password rule, defining what a new password should be like without additional params
[code]

But if you decide to add this, a Get- should be created as well ofcourse to view the current situation.

EDIT:
If I'm not mistaken, there is a "new password rule" in PasswordState itself, maybe you could read

[2019-05-06 11:50] colombeen commented on #11
I've found some more info on this in the documentation... But it's still not straight forward.

You can use the PasswordGeneratorID to force a specific policy rule
[code]
[code]

But I haven't found a way to read the policies with the API.

The only thing that I think is easily achievable is, when using the "New-RandomPassword" function, providing the passwordlist (ID)  to retrieve the default Pwd

[2019-05-07 11:25] dnewsholme commented on #10
Pull request #12 adds support for secure strings.

Readme docs have been updated to reflect this.

New published version: https://www.powershellgallery.com/packages/passwordstate-management/0.0.94

[2019-05-07 11:25] #10 closed

[2019-05-07 11:36] dnewsholme commented on #11
I found the same thing before as there is no way to retrieve the password generator policies via the API it makes doing this more of a pain. I was thinking about maybe setting the defaults as a local thing instead.

[2019-05-07 12:39] colombeen commented on #11
We could also do a feature request to extend the API with the required password policy information :-p

[2019-05-07 14:03] dnewsholme commented on #11
I think that's probably the best approach. I'll raise a feature request and stick this in backlog for now.

[2019-05-08 08:35] colombeen commented on #11
I've asked the support for info on this subject... this is what I got back:

In your API Scripts, if you add the ‘GeneratePassword = True’ value as per my below Powershell example, this will generate a password based on the Password generator Policy that is set on the password list.  You don’t select a generator policy in the script per se, rather it just uses what you have already set in the syst

[2019-05-09 07:40] dnewsholme commented on #11
Yes this would work for updating existing resources or creating new ones since you need to provide a list anyway, should be fairly quick and easy to implement.

As for just generating random passwords without creating an entry it would have to use the previous method.

[2019-05-09 09:03] colombeen opened #14 "PasswordState Class: Can't use GetPassword() method after DecryptPassword()"
You can't use the GetPassword() method after a decrytion has been performed on the property, which should still work in my opinion.

[code]
We should test if the object is a securestring or not and depending on the result just return the value or decrypt it on the fly.

[2019-05-09 10:00] colombeen commented on #14
I already fixed this issue in my fork

[2019-05-09 11:14] dnewsholme commented on #14
Agreed i didn't envision this scenario but your solution sounds right. Feel
free to send over a pull request for the fix and I'll merge it in.

On Thu, 9 May 2019, 11:00 colombeen, <notifications@github.com> wrote:

[2019-05-09 14:06] dnewsholme commented on #14
Fixed in #15 . Thanks for your contribution.

Published to Gallery
https://www.powershellgallery.com/packages/passwordstate-management/0.0.95

[2019-05-09 14:10] #14 closed

[2019-05-14 07:09] colombeen commented on #11
Any progress? I haven't been able to contribute myself in the last few days.

[2019-05-14 07:15] dnewsholme commented on #11
No not yet. I've not had enough time to dig into it properly.

On Tue, 14 May 2019, 08:09 colombeen, <notifications@github.com> wrote:

[2019-05-14 11:10] colombeen opened #17 "passwordstate-management.psd1: Wrong required version"
Powershell version requirement should be 5. Powershell Classes are a part of WMF5.

[2019-05-15 13:06] dnewsholme commented on #17
Yeah you're right it hasn't been updated since classes were implemented into the project. I'll update this in the next merge.

[2019-05-21 07:25] colombeen commented on #17
Fixed: https://github.com/colombeen/PasswordState-Management/commit/8365e1fed1b588c402559139770d27991788b933

[2019-05-21 08:47] #17 closed

[2019-05-24 11:57] colombeen opened #20 "Linux Compatibility with Powershell Core"
It would be awesome if the module could be compatible with powershell core... We are using more and more linux servers and at this point I can't seem to get the module to work on CentOS.

[2019-05-24 12:34] dnewsholme commented on #20
So i've checked this. While module is core compatible it doesn't encounter issues on Linux is seems. It looks to be to do with file paths. Paths in windows use backslash but linux will only user forwardslash.

I can change them all to forwardslash as windows mostly works with forward slash. But looking at a better solution now.

Also ConvertFrom-SecureString fails on pwsh core < 6.2

[2019-05-24 12:37] colombeen commented on #20
Sux that it's such nonsense that keeps the module from being compatible...

[2019-05-24 14:03] dnewsholme commented on #20
I've managed on my development branch to fix the file path issue. However there is an issue with Passing credentials to the winapi endpoint.

[code]
Issue should be fixed with the move to .Net core 3.0
https://github.com/PowerShell/PowerShell/issues/7801

Related merge:
https://github.com/dotnet/corefx/pull/35383

[2019-05-28 06:37] colombeen commented on #20
By using this before the passwordstate module we can get results, but also error messages on file paths (not using a newer version then .95):
[code]

[2019-05-28 13:27] dnewsholme commented on #20
Interestingly doing this on my ubuntu 18.04 box doesn't return any results and i get a 401 despite the correct credentials. Which i'm sure is due to the kerberos issues.

[2019-05-28 13:28] colombeen commented on #20
Most of our systems run CentOS

[2019-05-28 13:39] dnewsholme commented on #20
If you want to test you can pull down my develop branch which has the path fixes. I don't currently have a CentOS box available to test on.

[2019-05-28 14:09] dnewsholme commented on #20
The code in my develop branch works when using an APIKey for Authentication but not kerberos.  As it somewhat works better on linux than it did before ill merge it with master and publish to the psgallery but ill keep this open until i can get the windows authentication working too.

[2019-05-28 14:43] dnewsholme commented on #20
new build is up.
https://www.powershellgallery.com/packages/passwordstate-management/0.0.96

[2019-05-29 10:00] colombeen commented on #20
Tried the new version on CentOS with "WindowsAuthOnly", works like a charm with $env:DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER set to 0

[2019-05-29 11:20] dnewsholme commented on #20
Must be an issue with my ubuntu box then, i've added setting $env:DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER  to 0 automatically on linux machines.
 resolved in #22

Release version : https://www.powershellgallery.com/packages/passwordstate-management/0.0.97

[2019-05-29 11:20] #20 closed

[2019-06-05 09:51] dnewsholme commented on #11
I've created a pull request #29 which implements the suggestion you made.

If you are happy with that too i'll close,merge and push the new build.

[2019-06-05 10:45] dnewsholme opened #30 "Password Entries with no Password cause an error"
Entries with null or blank passwords fail to cast to the [PasswordResult] Class type. Causing an error to be thrown.

[2019-06-05 10:45] dnewsholme commented on #30
Fixed in pull request #29

[2019-06-05 11:38] colombeen commented on #11
It's a partial solution, just to bad that we still can't get a list of all pwd policies using the API, that would be the ideal solution.

[2019-06-05 11:57] dnewsholme commented on #11
I'm going to close now and merge since it will be while if ever that the Passwordstate API gets the functionality.

[2019-06-05 11:57] #11 closed

[2019-06-05 11:58] #30 closed

[2019-06-06 12:45] colombeen opened #39 "PasswordStateClass: change hidden properties to Default Display Property Set"
Just a suggestion, but couldn't it be done to change the hidden properties to normal properties and just add a default display property set to the object?

That way you'll be able to use `$PasswordStateObject | FL *` and see all properties, without having to force get-member to see them all

=> https://learn-powershell.net/2013/08/03/quick-hits-set-the-default-property-display-in-powershell-on-cus

[2019-06-06 14:14] dnewsholme commented on #39
Didn't know you could do it like that, but makes sense to have the properties easily accessible/viewable.

Fixed in #40

[2019-06-06 14:22] dnewsholme commented on #39
1.0.1 now in the powershell gallery

[2019-06-06 14:22] #39 closed

[2019-06-06 19:13] colombeen commented on #39
Awesome! Thanks

[2019-06-11 07:16] colombeen opened #48 "Find-PasswordStatePassword: Remove multiple queries to PasswordState"
I'm trying to remove the foreach and end block (which aren't necessary in my opinion).

If I could replace line 174 with something like this (and remove the "&ExcludePassword=true" from the $uri) :
[code]
then we could eliminate lines 179 -> 198
that would increase performance for the function

the only problem is that I can't seem to fix this "[PasswordResult]$obj  = $_"

I've also tried :
[code]

[2019-06-11 07:56] dnewsholme commented on #48
The getting of the password result but excluding the password was originally used for before the Password was encrypted by the use of classes. It can now be removed.

However the response from the API from a password search and a get password by ID are slightly different so the cast to the class is failing.

I'll pick this up, shouldn't take too long.

[2019-06-11 08:06] colombeen commented on #48
Found the issue... Couldn't cast the PSCustomObject to the Class because it has 2 properties that aren't defined in the class : PasswordList & PasswordListID

This works :
[code]

Would you add the properties to the class? or would you exclude them like I did?

[2019-06-11 08:12] dnewsholme commented on #48
Adding them to the class is cleaner.

I've got a working solution, but i'm going to leave the end block. (I know they aren't really needed but i like having the only returned object within the end block for ease of readability in the code, it makes a convention)

Just did a couple of speed tests before and after and for a result of 5 Password it's cut the time from 6 seconds to less than 2.

[code

[2019-06-11 08:16] dnewsholme commented on #48
#49 fixes the issue

[2019-06-11 08:20] colombeen commented on #48
It's does increase performance alot, but if you leave the $output variable in the end block, and you have a query that would take 20 seconds and has alot of results, it would only show them when everything is processed...

If you remove the $output en return them directly you would at least see that the function is doing something and returning each record as it's being processed.

Just my persona

[2019-06-11 08:24] colombeen commented on #48
Also you left in an "&ExcludePassword=true"

[2019-06-11 08:31] dnewsholme commented on #48
That's a good point. I guess having the stream of information is better for the pipeline too rather than forcing a wait. I'll update it and remove the exclude i missed too.

[2019-06-11 08:32] dnewsholme commented on #48
Seem's i've somehow broken the Password history function as the Class inherits the PasswordResult Class. I'll look into that too.

[2019-06-11 08:47] dnewsholme commented on #48
Was the PasswordList Property being inherited from PasswordResult Class but also declared on Password History. I also noticed the Password History Class wasn't displaying the right properties by default so i've updated that too.

[2019-06-11 08:47] #48 closed

[2019-06-11 09:27] colombeen opened #50 "PreventAuditing support for all functions"
Would be a nice feature to have (but low priority) so that you could prevent auditing when you don't need it.

` you can set the PreventAuditing parameter to true - if this parameter is omitted, the default option is false `

[2019-06-11 10:11] dnewsholme commented on #50
Should be simple enough with a new switch parameter, i'll take a look over the next couple of days.

[2019-06-13 07:58] colombeen commented on #48
Did some heavy testing with the latest changes... These are my results :

[code]

Ran this test multiple times, always around the same outcome

[2019-06-13 08:16] colombeen opened #52 "Suggestion: A few changes"
Delete Get-PasswordStatePasswords and make it a part of Find-PasswordStatePassword
Rename Find-PasswordStatePassword to Get-PasswordStatePassword

Show a list of all passwords when no params are provided or when just a passwordlistid was passed on

Add aliases:
[code]

I'm just looking at this in comparison to "Get-Child" or something similar. Just seems more logical to provide everything if you d

[2019-06-13 08:46] dnewsholme commented on #48
I did a similar test. It's made a huge improvement in terms of speed.

[2019-06-13 08:57] dnewsholme commented on #52
I'm happy to alias Find-PasswordStatePassword but think that the Get-PasswordStatePasswords alias is probably unnecessary. Think we should probably use the opportunity to drop the plural from the cmdlet name since it doesn't conform to the best practices for naming the cmdlet.

This would make it a breaking change but it's not huge.

With regards to returning all by default with no parameters spec

[2019-06-13 08:58] colombeen commented on #52
Sounds good

[2019-06-13 09:14] dnewsholme commented on #50
resolved with #51. Build 2.3.0 should be up within a few minutes.

[2019-06-13 09:14] #50 closed

[2019-06-13 10:15] dnewsholme commented on #52
Made the changes in #53. I've checked and i don't think adding the wildcard broke anything, i've tested a few scenarios and it seemed to work.

[2019-06-13 10:34] colombeen commented on #52
I've tried using the API with the % to retrieve them all... It works but not in combination with the PasswordListID

(Get-PasswordStateResource -uri '/api/searchpasswords/?search=%).count
(Get-PasswordStateResource -uri '/api/searchpasswords/?search=%&passwordlistid=734').count
(Get-PasswordStateResource -uri '/api/searchpasswords/?search=%25&passwordlistid=734').count
all show me 5418 instead of

[2019-06-13 10:42] dnewsholme commented on #52
When you search as passwordlist you do
[code]
Which is what Get-PasswordStatePassword does.

[code]

[2019-06-13 10:42] colombeen commented on #52
I would try something like this :

[code]

[2019-06-13 10:44] colombeen commented on #52
Oh my bad I forgot that the PwdListID needs to go before the ?

[2019-06-13 10:48] dnewsholme commented on #52
But using the queryall parameter on the url string is probably safer than passing a SQL wildcard character as the behaviour could change between versions. So i think i'll make the change how you suggest anyway.

[2019-06-13 10:50] colombeen commented on #52
We could also remove the + from $uri += because the variable is never appended with anything

[2019-06-13 11:22] dnewsholme commented on #52
I'll do that too.

I found a weird quirk in the API when using queryall.
[code]
It returns an extra property called TreePath on the object, which caused it to not cast to the PasswordResult class.

When doing any other search the property isn't there.

[code]
searching all within a passwordlist doesn't do this either.

[code]

[2019-06-13 11:43] colombeen commented on #52
Strange

[2019-06-13 12:11] dnewsholme commented on #52
Merged into release 3.0.0

[2019-06-13 12:11] #52 closed

[2019-06-17 08:03] colombeen opened #54 "Suggestion: Change ConvertTo-PSCredential"
Instead of using
[code]
Turning it into a method on the object which is returned
[code]

Or maybe even [Type Conversion](https://devblogs.microsoft.com/powershell/understanding-powershells-type-conversion-magic/)
[code]

My personal preference would be to use the latter, using type conversion (but i'm not sure if it's even possible to do this easily)

[2019-06-17 08:08] colombeen commented on #54
Or maybe even [Type Conversion](https://devblogs.microsoft.com/powershell/understanding-powershells-type-conversion-magic/)

[2019-06-19 10:16] dnewsholme commented on #54
A  method would definitely be doable, type conversion will need some investigation. I'll pick this up and have a look/investigation.

[2019-06-19 15:29] dnewsholme commented on #54
#57 contains the implementation for this.

[2019-06-20 08:27] dnewsholme opened #58 "Pester Tests for *-PasswordStateHost"
#55  Added new functionality. New pester tests are required to ensure these keep working and aren't inadvertently broken with other changes.

[2019-06-20 10:38] colombeen opened #59 "*-PasswordStateResource: Remove forcing TLS 1.2"
By forcing this it breaks other modules that we use.
Error we get in some other modules:
[code]
This should work:
[code]
But here we force Tls 1.2 on the server, so that you don't have to fix it in PS code

[2019-06-20 14:06] dnewsholme commented on #59
The reason for adding this is that by default Powershell uses TLS 1.0 for invoke-webrequest or invoke-restmethod. It works for servers that have TLS 1.0 and TLS 1.2 Enabled but not those with just TLS 1.2.

https://blog.pauby.com/post/force-powershell-to-use-tls-1-2/

I'll see if the method you suggested also works and adopt that if not i can get it to set back to defaults afterwards as fix.

[2019-06-20 14:13] dnewsholme commented on #59
Actually the method you suggested just appends TLS 1.2 which isn't quite the same, my method is to only use TLS 1.2 as the others are insecure.  I'll get it to set back to defaults after but i'd rather use TLS 1.2 only.

[2019-06-21 06:50] 2Dman commented on #59
I am using this on the iis server to force tls 1.1/1.2 : https://www.hass.de/content/setup-microsoft-windows-or-iis-ssl-perfect-forward-secrecy-and-tls-12

Forcing this on the client is not recommended, as an attacker would, leave this enforcement out and bring the lesser secure ones in, and/or wouldn't use this module at all.

[2019-06-21 08:22] dnewsholme commented on #59
The server is set to TLS 1.2 only. The issue is powershell not using TLS 1.2 by default so the connection fails where the server doesn't have TLS 1.0 also enabled.

[2019-06-21 08:51] colombeen commented on #59
Modules shouldn't force a specific session or systemwide session which could potentially break other code. Even though TLS1.2 is recommended, this might break code for less secure connections (which might be required for legacy purposes).
So you should either revert the setting to what it was after your call, add Tls1.2 to the existing protocols, or maybe warn the user about insecure protocols bei

[2019-06-21 09:14] colombeen commented on #59
https://github.com/dnewsholme/PasswordState-Management/pull/60

[2019-06-21 09:20] dnewsholme commented on #59
Merging the fix, it's essentially what i was going to do.

[2019-06-21 09:20] #59 closed

[2019-06-21 13:21] dnewsholme commented on #54
Closed by #57

[2019-06-21 13:21] #54 closed

[2019-06-28 07:52] 2Dman commented on #59
I've been testing this issue, it appears that powershell follows the .net strong encryption.

As taken from:
https://powershell.org/forums/topic/is-it-possible-to-enable-tls-1-2-as-default-in-powershell/

Set registry key:
# set strong cryptography on 64 bit .Net Framework (version 4 and above)
Set-ItemProperty -Path 'HKLM:\SOFTWARE\Wow6432Node\Microsoft\.NetFramework\v4.0.30319' -Name 'SchUseStro

[2019-06-28 10:56] dnewsholme commented on #59
The reg key does work, however setting via the [Net.ServicePointManager]::SecurityProtocol ensures it always works regardless of peoples registry keys, which is a better user experience imo. The setting is only changed for the duration of the command and then reverted again so shouldn't present issues.

Is this causing issues for you on a fixed build?

[2019-10-21 07:13] colombeen opened #70 "Issue when searching for strings with "API" in them"
When you're using Windows authentication and you search for *API*, the search will be translated to *winapi*. Example:

[code]

You should replace "API" with "WINAPI" before you build the URI.

My suggestion would be to remove "/api" from the functions and add it in the *-PasswordStateResource functions

[code]

[2019-10-21 07:41] colombeen commented on #70
### Suggestion for "Get-PasswordStateResource"
[code]

[2019-10-21 08:25] dnewsholme commented on #70
I've got an easier fix which results in less code change simply changing the replace on "api" to replace on "/api/" instead. I'll push up the changes in a moment.

[2019-10-21 08:36] colombeen commented on #70
It's true, your suggestion is less code, but a replace on a string that uses user input is always a risk

[2019-10-21 09:05] dnewsholme commented on #70
You're right it is less safe but i'm regex matching against the beginning of a string only which should mean it only replaces the /api/ at the beginning.

[2019-10-21 09:15] dnewsholme commented on #70
Fixed in #72  Build 4.3.0

[2019-10-21 09:15] #70 closed

[2019-11-21 13:55] dnewsholme opened #73 "Passing a passwordstate entry to Update-PasswordstatePassword inadvertantly changes the password."
Issue where when passing a password resource via the pipeline to Update-PasswordStatePassword the password could be inadvently changed to EncryptedPassword, when the intention was only to change another field.

eg:

[code]

Result is the entry now has a Password of EncryptedPassword which isn't intended.

[2019-11-21 13:56] #73 closed

[2019-11-21 13:57] dnewsholme commented on #73
@colombeen I see you have your own fork. You may want to pull in this change to your fork to prevent unintended updating of Passwords to incorrect values.

[2019-11-22 07:05] colombeen commented on #73
Thx for the update @dnewsholme

[2019-11-22 18:09] dsolodow opened #77 "Get-PasswordStatePassword error when installed under user path"
The given assembly name or codebase was invalid. (Exception from HRESULT: 0x80131047)
At C:\Users\dsolodow\OneDrive - Gaylor Electric,
Inc\Documents\WindowsPowerShell\Modules\passwordstate-management\4.4.1\Get-PasswordStatePassword.ps1:120 char:14
+ ...        . "$(Get-NativePath -PathAsStringArray "$PSScriptroot","Passwo ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-11-24 14:39] dnewsholme commented on #77
It definitely looks like the comma in the path is preventing it from working. Interestingly do other modules work from the same path?

The reason i ask is when i created a path with a comma in to test i couldn't even open any .ps1 files from the dir with Powershell ISE.

[2019-11-26 02:55] dsolodow commented on #77
Yep, I have a number of other modules in that path that all seem to behave fine. One of them is dbatools; I'm looking at how it does the invocation to see if I can find a fix.

[2020-01-14 17:55] trir262 commented on #58
Hello @dnewsholme, I would like to add unit tests for your module, however I would like to relayout your project by
* separate module functions from their tests files
* separate public and internal functions
* making use of PSFramework modules to simplify module development.

Is that OK for you?

[2020-01-14 22:39] dnewsholme commented on #58
@trir262 Yes. Please feel free to do so. I know my module and function layouts aren't ideal and was on my list to sort so this would be a great help.

[2020-01-15 00:16] trir262 commented on #58
@dnewsholme Am I allowed to change the module name to something that does not contain a dash? Reason why I ask is because the dash makes it difficult to pour it into the framework. Any other character works fine (like "_" or "." or nothing and use initcaps).

[2020-01-15 17:19] dnewsholme commented on #58
I'd rather not change the name as it would break existing integrations for others. What specific issue are you seeing?

[2020-01-15 22:31] trir262 commented on #58
You are right, don't want to ruin it right away :). I have updated the project in my repo and added a first batch of tests for Set-PasswordStateEnvironment. Tests should now be called from \tests\pester.ps1.
I have copied all your tests files but they seem to fail. I'll go over them one by one.

[2020-01-15 22:36] dnewsholme commented on #58
Ah it may be my test server is not running. I'll check it out.

On Wed, 15 Jan 2020, 22:31 Tom Robijns, <notifications@github.com> wrote:

[2020-01-15 22:43] trir262 opened #81 "The module does not work when Set-PasswordStateEnvironment saves the preferences to a different location"
Hi,
While working with the module, I found an issue: When I want to save my preferences in a different path, I am unable to use the module.

Steps to reproduce
[code]

Expected Result
[code]

Actual Result
[code]

[2020-01-15 22:47] trir262 commented on #81
Because of this, it is impossible to execute pester tests because it forces having a valid json in your preferences, even if you don't have passwordstate

[2020-01-15 23:16] trir262 commented on #58
You don't have to run a test server: I explicitly do not want to connect to any webserver when invoking the unit tests. If later integration tests are built, maybe then

[2020-01-16 22:41] trir262 commented on #58
I have modified appveyor.yml so it starts 'my' pester. Unfortunately it does not allow uploading the invoked tests, but it will show you how many tests were executed and if any failed. You can see it in [https://ci.appveyor.com/project/TomRobijns/passwordstate-management](https://ci.appveyor.com/project/TomRobijns/passwordstate-management)

[2020-01-17 08:22] dnewsholme commented on #58
Sorry i've not had much free time the last couple of days. That looks pretty good.

I've looked at you branch and you have removed all the help text. What is the reasoning for this? Has it moved elsewhere?

[2020-01-17 08:38] trir262 commented on #58
Since the help is stored in the external 'doc' directory, it is a bit redundant to have it in the function files as well. I'd rather 'only' update the markdown files than updating both.
When the documentation is updated, the external help (via PlatyPS) will be updated automatically.

[2020-01-17 14:26] dnewsholme commented on #58
Those markdown were created from the help in the modules using platyps.

Does the get-help still work against the function doing it this way? Sorry
this is a new way of working for me and it's unfamiliar.

On Fri, 17 Jan 2020, 08:38 Tom Robijns, <notifications@github.com> wrote:

[2020-01-17 18:02] trir262 commented on #58
When you (initially) use PlatyPS to generate markdown files from your functions, you can safely remove the help from your functions themselves. From that point you can use PlatyPS update-markdown to update any changes (parameters,...).
Next step is to generate external help (xml) based on the markdown and your module will use that xml for it's help

[2020-01-17 22:42] trir262 commented on #58
Tests for Get-PasswordStateFolder have been added. Can you let me know what you think of them?

[2020-01-17 23:24] dnewsholme commented on #58
That looks awesome. Some great pester tests there. Much more advanced.

On Fri, 17 Jan 2020, 22:42 Tom Robijns, <notifications@github.com> wrote:

[2020-01-17 23:32] trir262 commented on #58
I had to change the Set-PasswordState & Get-PasswordState, so they would retain that information while using the module (and not setting the environment variable.
So #81 will be fixed with my changes as well.

[2020-01-17 23:33] trir262 commented on #81
Issue will be closed when unit tests are merged in the project

[2020-01-18 00:36] trir262 commented on #58
Get-PasswordStateList unit tests are added as well.

[2020-01-19 17:17] #81 closed

[2020-01-19 22:24] trir262 opened #83 "Custom Class definitions are called everytime a call is done to PasswordState"
When creating the tests, I discovered that whenever any function is used, it (almost) always starts with invoking the class definitions. Moving that bit to when the module is imported ensures they are defined.

[2020-01-19 22:28] trir262 commented on #83
In Get-PasswordStatePassword, you also always execute add-type System.Web. I don't really see why you do it, but I think it is also better moved to the import of the module.
These modifications speed up your module (a bit) and makes your code cleaner)

[2020-01-19 22:32] dnewsholme commented on #83
With the class definition I couldn't find a way to reliably load it from the module definition file. System web could definitely be moved. Do you know of a way to load the class in the psm1 file?

[2020-01-20 15:29] dnewsholme commented on #58
@trir262  here is the json you wanted.

`{
  "HostID": 1,
  "HostName": "dev01.contoso.com",
  "HostType": "Windows",
  "OperatingSystem": "Windows Server 2012",
  "DatabaseServerType": "",
  "SQLInstanceName": "",
  "DatabasePortNumber": "",
  "RemoteConnectionType": "RDP",
  "RemoteConnectionPortNumber": "3389",
  "RemoteConnectionParameters": "",
  "Tag": "",
  "Title": "dev01",
  "SiteID": "0"

[2020-01-26 14:10] trir262 commented on #58
I added tests for Get-PasswordStatePasswordHistory, however the "PasswordID" needs to be present AND the number needs to correspond with an existing password. The module should report an error if these conditions are not met. I'll create a new issue for this.

[2020-01-26 14:13] trir262 opened #85 "Get-PasswordStatePasswordHistory does not throw."
When the function Get-PasswordStatePasswordHistory does not contain a PasswordState or the number is incorrect, Passwordstate returns a NotFound http status code. This error is not captured by the function/module

[2020-02-04 11:48] #83 closed

[2020-02-05 08:46] dnewsholme commented on #85
It seems to throw an error for me.

What scenario are you doing?

PS C:\Users\dnewsholme> Get-PasswordStatePasswordHistory  -PasswordID 0
Invoke-RestMethod : [{"errors":[{"message":"Not Found"},{"phrase":"A Password of ID '0' was not found in the database, or you do not have permissions to it."}]}]
At line:94 char:27
+ ...   $result = Invoke-RestMethod @params -UseDefaultCredentials -Timeout ...
+

[2020-02-05 18:28] trir262 commented on #85
Hi @dnewsholme, the displayed error is actually from Invoke-RestMethod (web response NotFound). It would be better (imho) to catch that error and throw a more meaningfull message (perhaps use the message in 'phrase' as exceptino message)

[2020-02-07 10:05] dnewsholme commented on #85
Fixed in #92

[2020-02-07 10:05] #85 closed

[2020-02-07 10:06] dnewsholme commented on #77
@dsolodow  the layout and loading of the module has recently be changed. Is this still an issue for you in the latest version?

[2020-02-07 20:38] dsolodow commented on #77
Looks to be fixed as of 4.4.8. :)

[2020-02-07 20:38] #77 closed

[2020-03-03 07:04] koshia opened #95 "Windows Auth Option Does Not Work"
Environment Options:
Set-PasswordStateEnvironment -Baseuri "https://passwordstateurl.tld" -WindowsAuthOnly

Result:
PS C:\WINDOWS\system32> Get-PasswordStatePassword
The remote server returned an error: (401) Unauthorized.
At line:120 char:13
+             Throw $_.Exception
+             ~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : OperationStopped: (:) [], WebException
    + FullyQualifiedEr

[2020-03-03 10:26] dnewsholme commented on #95
Hi @koshia

I've tried my end with module version 4.4.9 and it seems to work fine for me.

`PS C:\Users\dnewsholme> Set-PasswordStateEnvironment -Baseuri "https://pws.domain.co.uk" -WindowsAuthOnly`

`PS C:\Users\dnewsholme> Get-PasswordstatePassword test`

I also enabled MFA with google authenticator and tried and it still worked.

If you can try running the command again and once you get the err

[2020-03-03 16:43] koshia commented on #95
Thanks for responding so quickly.

Here's the output for the error after i run Get-PasswordStatePassword -UserName root  - which i have a couple of accounts with root as the username and have access to them via the web-gui of passwordstate when I log in.

`PS H:\> $error[0] | select *

PSMessageDetails      :
Exception             : System.Net.WebException: The remote server returned an error: (40

[2020-03-04 08:53] dnewsholme commented on #95
@koshia  is it possible that the passwordstate server is on a different domain to the one your user account is logged in as?

[2020-03-04 09:17] koshia commented on #95
The passwordstate server is on our domain, e.g. mydomain.org. Our accounts are on the same domain - typically logged in as mydomain\username  -- If i go to our passwordstate server's web GUI - the default login area shows "mydomain\" and we would type in our username after that.  That mydomain\  matches my current login of mydomain\username when I perform whoami in powershell/cmd.

[2020-03-04 09:46] dnewsholme commented on #95
Can you try manually setting your windows credentials? E.G

[code]

It seems like it's potentially something to do with your browser or iis setup on the server.

https://www.clickstudios.com.au/community/index.php?/topic/1305-passwordstate-prompts-for-authentication/

Try checking out the steps here.

[2020-03-04 10:05] koshia commented on #95
Figured it out!  Thanks for walking me through it so I could isolate the issue.

Resolution: We have our setup through webproxy. DNS was setup to hairpin, so the authentication was thrown to the proxy service instead of to the passwordstate server.  It's now been setup correctly and the integrated windows auth is working correctly.

Thanks!

[2020-03-04 10:05] #95 closed

[2020-04-29 15:42] eizedev opened #96 "[Question] Extension of the functions by (all) supported API methods/properties"
Hi @dnewsholme
First of all, this is a great module, thanks for that!
Your module was so good during the first tests that we internally decided to use it for our environment.
Since a few days I am internally extending the module with, as far as possible and useful, all currently integrated and supported functions of the API and WinAPI.
I will stick to your existing specifications and guidelines fo

[2020-04-29 20:46] trir262 commented on #96
@eizedev I'd be happy to write pester tests for the new functions as I am busy (although got a little distracted lately) by writing tests for the already existing ones.

[2020-04-30 06:37] eizedev commented on #96
@trir262 Ah cool, thanks!

[2020-04-30 09:05] dnewsholme commented on #96
@eizedev Thanks for your contribution. It looks great, I'm happy with everything you've done so far it looks good and keeps to the style of the functions. Send over the pull request when you are ready and ill review.

I think we should change both from Update to Set as the verb but alias back to update to maintain compatability.

@trir262  Thanks, you've already done some great work on the pester

[2020-04-30 09:38] eizedev commented on #96
@dnewsholme Thanks :) I have also renamed `Update-PasswordStatePassword` to `Set-PasswordStatePassword`, renamed Exported function, pester test and exclusionlist and added the alias.

Pull request opened #97

[2020-04-30 19:46] dnewsholme commented on #96
closed in #97

[2020-04-30 19:46] #96 closed

[2020-04-30 21:55] trir262 commented on #58
I picked this up again and, based on your host json response, created tests for the "Get-PasswordstateHost" function

[2020-05-01 08:43] #58 closed

[2020-05-02 21:36] trir262 opened #103 "Create Tests for New-PasswordStateList function"
I'd like to create unit tests for the New-PasswordStateList function similar to what I've created before. Unfortunately my account in our company is not allowed to create passwordlists.
Can you provide me an example request/response json file I can use to create the tests?
Thanks!

[2020-05-02 22:12] trir262 opened #104 "Get-PasswordStatePassword only returns a single password when multiple are expected"
There a difference in behavior in v4.4.9 and 4.4.11.
Here are the steps I executed:
[code]

[code]

Expected outcome: equal count value
Actual outcome: 4.4.9 returns value 50, 4.4.11 returns 1

[2020-05-02 22:14] trir262 commented on #104
This scenario is apparently not in my unit tests... I'll add it but we might need help from @eizedev to understand what has been changed

[2020-05-02 22:37] eizedev commented on #104
Hmm...  This is weird.  I'll take a closer look at it later.

[2020-05-03 10:19] dnewsholme commented on #103
@trir262 you can use my test instance, it's only got dummy data anyway. https://devpws01.northeurope.cloudapp.azure.com/logins/forms/login.aspx?

I'll send you the credentials in an email.

[2020-05-03 10:46] dnewsholme commented on #104
It looks like Get-PSCustomObject only returns the last object in the array.

[2020-05-03 11:33] eizedev commented on #104
@trir262
Sorry, that wasn't supposed to happen. I think I have a solution for that, but I'd like to test it a little more. So I have removed this function from the 3 functions where it was already implemented.

@dnewsholme #105

[2020-05-03 11:48] eizedev opened #106 "[Suggestion] New-PasswordStateResource - Cannot validate argument on parameter 'TimeoutSec'"
Edit: Sorry, i missed that this is only included in the `master` for now, not in the latest released version. Therefore this is only a suggestion from me ;-)

@dnewsholme

you have integrated the `TimeoutSeconds` property with a value of 60 to `Set-PasswordStateEnvironment` in the last commits. You referenced this variable and property in `New-PasswordStateResource` but for this to work you have t

[2020-05-03 12:06] eizedev commented on #103
@trir262

Here is a json request that you could use for the test environment.

Just change the SecurityGroupName to a valid name in the testing environment. You could also use a SecurityGroupID or a UserID (domain\Name).

TemplateID 1 should exist in every environment (i hope so).

**Example**:

[code]

**Request**:

[code]

**Result**:

[code]

[2020-05-03 14:22] dnewsholme commented on #106
I think we can work around it by having Get-Passwordstateenvironment set timeout to 60 if it's null.

Should be the quickest way with maintaining backwards compatibility i think?

[2020-05-03 14:38] dnewsholme commented on #106
Something like this.

[code]

[2020-05-03 15:11] #106 closed

[2020-05-03 15:12] dnewsholme commented on #104
Issue is now fixed but we can leave this open if you plan to add the sorting back.

[2020-05-03 15:45] trir262 commented on #104
If it's the same for you, I'd prefer to keep it open as a placeholder for me for the tests... This is a scenario that should've been discovered by my pester tests

[2020-05-04 11:33] trir262 opened #108 "Move PasswordStateShowPasswordsPlainText parameter to environment"
The module allows the (hidden) presence of a variable called "PasswordStateShowPasswordsPlainText". If this variable is declared AND it's value is $True, passwords are not encrypted but passed as clear text.

I would like this hidden gem to become part of the environment so people can decide for their on if they want to have it or not. By not specifying the option, it'll fall back to $False of cou

[2020-05-04 11:34] trir262 commented on #108
If the option is not mentioned, it'll fall back to $False of course

[2020-05-04 12:53] dnewsholme commented on #108
Definitely makes sense to do this, we should use the environment file for storing all state information and it will make it more discoverable too.

[2020-05-05 07:59] trir262 commented on #108
oops, shouldn't have closed this yet as PR is still on the way

[2020-05-05 10:23] #108 closed

[2020-05-07 09:17] eizedev opened #110 "Get-PasswordStatePassword error if $Script:Preferences.Path is empty"
@trir262

[code]

In `passwordstate-management.psm1` the Path Key in `$Script:Preferences` object is by default empty
[code]

Only until you execute `Set-PasswordStateEnvironment -Path "..."` the `$Script:Preferences.Path` variable will be set and will then be not empty anymore.

But in `Get-PasswordStatePassword` you are using this variable:

[code]

So, in my understanding, in normal usage of th

[2020-05-07 09:44] trir262 commented on #110
René,
That is indeed something I have not taken into account.
@dnewsholme I think my latest changes are best pulled from the gallery until this is resolved.

[2020-05-07 09:51] dnewsholme commented on #110
I've unlisted 4.4.14 from the gallery until we can sort it.

On Thu, 7 May 2020, 10:44 Tom Robijns, <notifications@github.com> wrote:

[2020-05-08 09:36] #110 closed

[2020-05-11 13:42] eizedev opened #115 "Testing of new *Permission functions"
@dnewsholme @trir262

I have opened a new pull request #114 which adds a few new functions, a rewrite of the New-PasswordStatePassword function (backward compatible - added all available api options and fixed some bugs).
Some of these functions can be used to get/set/change/remove permissions of passwordstate objects.
I have added the `New-*Permission` functions for now and not all `*Permission` f

[2020-05-11 14:07] dnewsholme commented on #115
@eizedev

I hate to say it but it works for me.
[code]
As you can see i used the same command as you just edited my folderid and group.

I'll send you my Azure test environment details and you can use it if you'd like to see if you still get the same?

I'll review the pull request now.

[2020-05-11 15:22] eizedev commented on #115
@dnewsholme

Thanks for testing! :)
But this is good news in general, at least I know that it works in general. The new functions should work, so feel free to test them after the merge.

In the meantime I will test it in your test environment, thanks for the email with the data.

[2020-05-13 07:01] #115 closed

[2020-05-16 16:59] dnewsholme opened #117 "Domain Parameter needs changing to ADDomainNetBIOS"
This parameter needs changing as the api does nothing with the current domain parameter.

Tests and class will need updating to reflect this.

[2020-05-18 08:04] eizedev commented on #117
I think we should change the `Domain` variable to `ADDomainNetBIOS` and set an `Alias` (`[Alias('Domain')][string]$ADDomainNetBIOS`) for the old `Domain` variable to `ADDomainNetBIOS` to remain backward compatible.
Also we need to change `Domain` to `ADDomainNetBIOS` in all pester tests and the Class definitions, as you already mentioned, too.

[2020-10-07 12:07] dnewsholme opened #127 "Passing existing entries over the pipeline"
Currently getting a passwordstate entry and passing across the pipeline to Set-PasswordstatePassword fails due to the validation on the Set-PasswordstatePassword function not allowing null/empty values for many entries or below 1 on length.

For example the following scenario:

Get-PasswordstatePassword github | Set-PasswordstatePassword -Password "T0pSecret"

Fails because the expiry date isn't v

[2020-10-07 12:08] #127 closed

[2020-12-03 07:52] eizedev opened #130 "ToPSCredential() Password in wrong format in 4.4.29"
Hi @dnewsholme

We recognized, after updating to 4.4.29, that your change in commit 0137baf8a714f351fec42e7e80ec15c4d55224ad of the `PasswordResult` class broke the `ToPSCredential()` method for already encrypted passwords.

After calling the method `ToPSCredential()` the already encrypted password (not using setplaintextpassword Config) gets encrypted again, so if you call this, the last step (me

[2020-12-03 09:26] dnewsholme commented on #130
Sorry I'll take a look now.

[2020-12-03 10:35] eizedev commented on #130
Tried 4.4.30, looking good! 👍🏻

[2020-12-03 10:35] #130 closed

[2021-01-12 08:52] eizedev opened #132 "Update for PasswordState v9"
The issue serves as an overview for all changes to the API coming with PasswordState v9.
As soon as i get access to the beta, i can share more details.

## API related changes

### Added

- [ ] Added a new method to the API(s) to trigger and Active Directory synchronization for user accounts and security groups
- [ ] You can now Copy/Link/Move passwords via the API(s)
- [ ] Added the ability to de

[2021-03-02 08:08] eizedev commented on #132
Update for [Release build 9050](https://www.clickstudios.com.au/passwordstate-changelog.aspx) of PasswordState v9.

[2021-06-07 06:56] trir262 opened #137 "Convert Pester Tests to v5"
Hi @dnewsholme,
I noticed you had to reconfigure the appveyor so it uses Pester v4. I have been catching up on my pester testing skills and will make these tests v5 compliant.

[2021-06-07 14:51] dnewsholme commented on #137
Hi @trir262.

Yeah it's no big deal if you want to take a look at converting to v5 then feel free. Just update the ./appveyor.yml at the same time in your pull request.

The line needed to change is, obviously specifying version 5.0

[code]

Regards

[2021-06-11 21:37] trir262 commented on #104
@dnewsholme I'll close this one as I have added this to my tests in #138

[2021-06-11 21:37] #104 closed

[2021-06-12 09:13] #137 closed

[2021-06-12 20:33] trir262 commented on #117
While looking in to this, I think I am going to need a bit more information on this: the attribute is present when retrieving a Password, however the value for `Domain` is blank in all my cases.
When trying to set a value for `Domain` it says all ok but nothing has changed.
Using PWS v9

[2021-06-13 17:08] dnewsholme commented on #117
@trir262  i think for the domain to populate it has to be listed as one of the domain in the activedirectory section.

Once i did this i could then set a domain on my password.

[code]

Interesting the domain field didn't populate straight away in passwordstate as shown by the result above but when querying again after it did show the correct domain.

[code]

[2021-06-14 07:22] #117 closed

[2021-06-27 20:24] trir262 opened #142 "Defect: Reason header is not used when invoking password requests on list requiring header"
Hi Daryl,

Recently all our passwordstate Lists were modified and 'provide a reason when using api' was checked on all of them. I know 'reason' is a parameter however it turns out it is not yet correctly parsed and sent to PasswordState.

Script:

[code]

Expected outcome: the data for password id 80
Actual outcome: PowerShell Error:

[code]

I am working on a fix but thought I'd already let you k

[2021-06-28 19:17] trir262 commented on #142
Turned out I did not sent all my commits in the PR... New PR coming up...

[2021-06-28 20:51] #142 closed

[2021-06-28 21:05] trir262 opened #144 "Unable to change passwordstate when reason is required on passwordlist"
The `Set-PasswordstatePassword` function looks up a password entry when the parameter PasswordID is used. it does this without providing a reason, causing it to fail.

[2021-06-29 09:01] dnewsholme commented on #144
Yeah I see this now you mention it. I'll fix this tonight.

[2021-06-29 09:42] trir262 commented on #144
Gives you an opportunity to test the docker dev env :)

[2021-06-30 09:42] #144 closed

[2021-06-30 09:42] dnewsholme commented on #144
Yeah the docker environment is really good. Thanks for adding, i really like it!

[2022-03-17 07:42] colombeen commented on #132
## Copy-PasswordStatePassword
[code]
## Move-PasswordStatePassword
[code]

[2022-03-17 08:34] dnewsholme commented on #132
@colombeen if you open a PR we can look at getting the new functions tested and merged.

[2022-03-17 08:43] colombeen commented on #132
I know, just don't have alot of time so wanted to quickly dump it here before I forget

[2022-03-17 09:24] colombeen commented on #132
The Copy & Link feature does throw a strange error when you provide a personal pwd list :

**Passwordstate did not respond within the allotted time of 60 seconds**

But the command only took 1 second to throw the error...

[2022-03-17 12:41] colombeen commented on #132
A few other new API calls do the same thing as well when there is an error.

I've added all that I have that's not included in your module

[2022-03-17 22:14] colombeen opened #147 "Incorrect Try Catch statement for TimeOut in New-PasswordStateResource"
When you invoke certain API calls you can get very strange error messages that indicate time-outs but should show something different.

Should be something like :
[code]

[2022-03-17 22:17] colombeen opened #148 "Old code forcing TLS 1.2 not cleaned up everywhere"
I can still see 2 resource function files where there is still TLS 1.2 being forced... This shouldn't be done from within a module, because it may break other modules/scripts. The procotol should be forced from the PasswordState server.

[2022-03-17 22:18] colombeen commented on #132
Fixed some of the missing features with https://github.com/dnewsholme/PasswordState-Management/pull/146

[2022-03-18 10:49] dnewsholme opened #149 "Add better support for Api keys"
Passwordstate splits api keys into multipe types currently the module only supports use of system wide and password generator however system wide doesn't seem to function for all things such as moving passwords.

The following should be all supported which requires a mechanism to automatically select the correct key when hitting the url.

-- | -- | --
System Wide | The System Wide API Key can perf

[2022-03-18 10:53] dnewsholme opened #150 "New-PasswordStateList needs at least one of the permissions parameter for success"
New- Passwordstatelist allows for specifying a list without permissions which causes a error back from the API when sent. The function should check before sending the request and throw if none are defined.

[2022-03-18 11:04] colombeen commented on #147
I also don't get why this is only implemented in New-PasswordStateResource, and not in the other *-PasswordStateResource functions

[2022-03-18 11:13] colombeen commented on #147
Maybe even push it a bit further and just combine the *-PasswordStateResource functions into **Invoke-PasswordStateAPICall**.
That shouldn't be too hard to implement, but it would create a breaking change.
It would be easier to manage the code.

[2022-03-18 11:21] dnewsholme commented on #147
Yeah this is definitely a consideration. It shouldn't be a breaking change since the *-PasswordstateResource functions are private and compatibility can be maintained for all public functions.

[2022-03-18 11:21] #150 closed

[2022-03-18 11:22] dnewsholme commented on #148
fixed in #151

[2022-03-18 11:22] #148 closed

[2022-03-18 11:40] colombeen commented on #147
Yeah I'm sorry, we split off some time ago and in our case the resource functions are still public

[2022-04-13 15:56] TurnItOff-OnAgain opened #152 "Set-PasswordStatePassword gives a SecurityProtocol error"
Running PasswordState on Server 2022. Freshly set up server, migrated PasswordsState Environment, using the API key for the password list containing the passwords I am updating, running the script right on the Passwordstate server. I've never used this module before, used to use a different one that is no longer in development.

Running this loop to update the local admin passwords saved from LAPS

[2022-04-13 17:15] dnewsholme commented on #152
Hi @TurnItOff-OnAgain, this is a bug. It's leftover code which needs removing.

Thanks for bringing to my attention. A new build of 4.4.43 should be on the PSgallery in a few minutes which will resolve the issue.

[2022-04-13 17:15] #152 closed